################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Github.ParcelDelivery/v16
/ParcelDelivery.AcceptanceTests/bin/Debug/netcoreapp2.2
/ParcelDelivery.AcceptanceTests/obj
/ParcelDelivery.Core/bin/Debug/netcoreapp2.2
/ParcelDelivery.Core/obj
/ParcelDelivery.UnitTests/bin/Debug/netcoreapp2.2
/ParcelDelivery.UnitTests/obj
